{% extends 'blog/base.html' %}

{% block content %}
    
<div class="card text-center">

    <div class="card-body">
      <h5 class="card-title">What is Waaneiza?</h5>
      <p class="card-text">
          Waaneiza is a world wide corporation
      </p>
    </div>

  </div>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
    <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6_QNkliLSZz7_t28_s0RhMoX_u91oRVtMuA&usqp=CAU" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR44O6HvbVf6R7-VH9j631QKmxDjUOEma-5Kg&usqp=CAU" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/proxy/_J29NcQVC0JRGGbI1drwXayd1TCrkkp4X3AfB5h4qfDMo1gg4YU-l21uPi2veE8kf_KIg2nQ5WwAnA1P8TYiGzLua9J0HnbSjKE" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/proxy/_J29NcQVC0JRGGbI1drwXayd1TCrkkp4X3AfB5h4qfDMo1gg4YU-l21uPi2veE8kf_KIg2nQ5WwAnA1P8TYiGzLua9J0HnbSjKE" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

{% endblock %}